html{
    height: 100%;
    width: 100%;
}

*{
    font-family: system-ui;
    transition:all .25s;
}

.main-header{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

}

.main-header a{
    text-decoration: none;
}

.left-section{
    display: flex;
    flex: 1;
    padding-left:1rem;
}

.header-logo{
    letter-spacing: 0.2rem;
    color: black;
    font-weight:1;
    cursor: pointer;
}

.header-logo:hover{
    opacity: 0.9;
}

.header-logo:active{
    opacity: 0.7;
}

.right-section{
    display: flex;
    flex: .39;
    justify-content: space-between;
    margin-right: 1rem;
    gap:1rem;
}

.right-section button{
    border: none;
    font-size:1.3rem;
    font-weight:500;
    color: rgb(84, 84, 84);
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
}

.right-section button:hover{
    opacity: 0.8;
    transition: .15s;
}

.right-section button:active{
    opacity:0.6;
    transition: none;
}

select{
    font-size:1.3rem;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    outline: none;
}

option{
    color: rgb(0, 0, 0);
    height:1rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-top:20rem;
    gap: 4rem;
}

@media(max-width:1800px){
    .main-grid{
        grid-template-columns:1fr 1fr 1fr;
    }
}

@media(max-width:885px){
    .main-grid{
        grid-template-columns:1fr 1fr;
    }
}

@media(max-width:575px){
    .main-grid{
        grid-template-columns:1fr;
    }
}

.dress-image-container{
    border-radius:0.3rem;
    overflow: hidden;
    width:15rem;
    height:26rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#dress-image{
    height:20rem;
    width:15rem;
    object-fit: cover;
}

.image-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0.3rem 0;
}

.price-tag-container{
    display: flex;
}

.price-tag{
    margin:0.3rem 0;
    margin-top:0;
    font-size: large;
}

.buy-button{
    padding:0.5rem 1rem;
    background-color: white;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    font-size: large;
    font-weight: 500;
    border: solid 1px black;
    border-radius:0.3rem;
    display: flex;
    align-items: center;
}

.buy-button:hover{
    opacity: 0.8;
    transition: .15s;
}

.buy-button:active{
    opacity:0.6;
    transition: none;
}

.shopping-cart-image{
    height:1.4rem;
}