html{
  height: 100%;
  width: 100%;
}

body{
  background-color: rgb(242, 249, 255);
  display: flex;
  flex-direction: column;
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
  z-index: 1;
  background-color: rgb(50, 170, 255);
}

.left-section{
  margin: 0;
  margin-right: 0.5rem;
  margin-left: 1rem;
  font-family:system-ui;
  letter-spacing:.1rem;
  font-size:1.2rem;
  flex: 1;
}

.logo{
  margin: 0;
}

.left-section a{
  text-decoration: none;
  color: white;
}

.middle-section{
  display:flex;
  flex: 1;
  justify-content:center;
  align-items: center;
}

.search-bar{
  padding: .5rem;
  border: none;
  transition: all .35s;
  flex: 1;
  border-radius:0.2rem;
  font-size: medium;
  padding-left:1rem;
}

.search-bar:focus{
  outline:none;
  padding: .7rem;
  transition: all .35s;
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.7rem;
  flex: 1;
}

.buttons-container{
  display: flex;
  height:2.5rem;
  width: 11rem;
  margin-right: 1rem;
  align-items: center;
  gap: 1rem;
}

.signup-button{
  padding:0.4rem 1rem;
  border: none;
  margin:0.6rem;
  border-radius: 0.2rem;
  white-space: nowrap;
  font-family: system-ui;
  font-weight: 500;
  font-size: medium;
  background-color: white;
  color: rgb(0, 162, 255);
}

.menu-image{
  height: 4rem;
}

.menu-button{
  border: none;
  background-color: rgb(50, 170, 255);
  padding: 0;
}

.menu-button:hover{
  opacity: 0.8;
  transition:.25s;
}

.menu-button:active{
  opacity: 0.6;
  transition: none;
}

section{
  display: flex;
  margin-top: 5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  justify-content: center;
  height: 3rem;
  align-items: center;
  padding-left: 1rem;
  background-color: rgb(111, 200, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.section-buttons{
  padding:0.2rem .7rem;
  border: none;
  margin:0.6rem;
  border-radius: 0.2rem;
  white-space: nowrap;
  font-family: system-ui;
  font-weight: 500;
  font-size: medium;
  background-color: white;
  color: rgb(0, 162, 255);
}

.section-buttons:hover{
  background-color: rgb(226, 248, 255);
  transition: .25s;
}

.section-buttons:active{
  background-color: rgb(129, 196, 216);
  color: white;
  transition: none;
}

.section-buttons a{
  text-decoration: none;
  color: rgb(0, 195, 255);
}

.section-buttons a:active{
  color:white;
}

.signup-button{
  padding:0.4rem .7rem;
  border: none;
  margin:0.6rem;
  border-radius: 0.2rem;
  white-space: nowrap;
  font-family: system-ui;
  font-weight: 500;
  font-size: medium;
  background-color: white;
  color: rgb(0, 162, 255);
}

.signup-button:hover{
  background-color: rgb(226, 248, 255);
  transition: .25s;
}

.signup-button:active{
  background-color: rgb(129, 196, 216);
  color: white;
  transition: none;
}

.signup-button{
  border:solid 3px rgb(0, 130, 211);
  border-radius:0.3rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
main{
  display:flex;

}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
  background-color: rgb(21, 158, 255);
  box-shadow: 0px 5px 10px  rgb(0, 0, 0,0.3);
  border-radius: 1rem;
  transition: all .30s;
  text-align: center;
}

form input{
  padding: .5rem;
  border-radius: .4rem;
  outline: none;
  border: none;
  margin: .3rem;
  caret-color: rgb(255, 107, 132);
  font-size:medium;
  transition: .23s;
}

form input:focus{
  padding: .7rem;
}

.form-title h1{
  color:#ffffff;
  font-family: system-ui;
  font-weight: 100;
}



.user-name-info{
  display: flex;
  flex-wrap: wrap;
  flex:1;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
}

.user-email-password{
  display: flex;
  flex:1;
  width: 100%;
  flex-direction: column;
}

.forgot-password{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  
}

.forgot-password P{
  color: #ffffff;
  font-family: system-ui;
  font-size:large;
  cursor: pointer;
  
}

.forgot-password P:hover{
  border-radius: .3rem;
  padding: .2rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  transition: .20s;
}

.forgot-password P:active{
  background-color: rgba(0, 0, 0, 0.1);
}

.signup-button-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  transition:.30s;
}

.form-signup{
  border: none;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: .5rem 1rem;
  border-radius: .4rem;
  color: #ffffff;
  transition:.20s;
}

.form-signup:hover{
  padding: .6rem 1.2rem;
  transition:.20s;
}

.form-signup:active{
  background-color: rgba(0, 0, 0, 0.2);
}
